// _mixins.scss
//diverse mixins

// clearfix
@mixin clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

// box-sizing
@mixin boxSizing($box) {
  -webkit-box-sizing: $box;
  -moz-box-sizing: $box;
  box-sizing: $box;
}

// border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// combineer meerdere transforms
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin boxShadow($shadows...) {
//  ...variabel aantal arguments

  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -o-box-shadow: $shadows;
  box-shadow: $shadows;
}

// media query mixin
// breakpoints
// em gebaseerd 1em = 16px

$S:   30em; //480px
$M:   40em; //640px
$L:   50em; //800px
$XL:  61.25em;  //980px
$XXL: 80em; //1280px

@mixin MQ($canvas) {
  // MF way
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == XL {
    @media only screen and (min-width: $XL) { @content; }
  }
  @else if $canvas == XXL {
    @media only screen and (min-width: $XXL) { @content; }
  }
}