// _palette.scss
// kleurenpalet

// primaire, secundaire kleuren
$white: #fff;
$black: #000;
$red:   #f00;
$blue:  #00f;
$green: #0f0;
$yellow:  #ff0;
$cyan:  #0ff;
$magenta: #f0f;

// Palette

// grijstintent
$bijnazwart:  #111111;
$grijs1:  #333;
$grijs2:  #6c767d;
$grijs3:  rgba(64,64,64,1);
$grijs4:  rgba(61,61,61,1);
$lichtbruingrijs: rgba(102,103,107,1);
$lichtgrijs:  rgba(153,153,159,1);

//kleur
$helblauw:  #00A6CF;
$helrood:   #D0112B;
$bleekblauw:  #00b5d7;
$donkerblauw: #005580;
$olijfgroen:  #7EA400;

$linkrood:  #b5120b;
$linkgroen: #24c5ba;
$linkblauw: #08c;
